# Virtual environment
venv/

# Local configuration & credentials
config.json

# Test data & logs
cookies.txt
*.log

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.sqlite3

# OS metadata
.DS_Store
